body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: auto;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("");
    background-size:cover ;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: RoadTest;
    color:#000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    letter-spacing: 1px;
    color: grey;
    font-size:60px ;
}
.text-container p:nth-child(3){
    font-family: 'PT Sans', sans-serif;
    color:#403e3e;
    font-size: 30px;
    line-height: 30px;

}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top:42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width: 130px;
    height:42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline:none;
    margin: 0px 10px;
}
.hire{
    border:2px solid #373636;
    color: #373636;
}
.check-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform:scale(1.1) ;
}
.model{
    height: 560px;
    position: absolute;
    bottom: 135px;
    left: 70%;
    transform: translateX(-70%);
}
.about-container{
    width: 80%;
    height: 330px;
    background-color:#FFFFFF ;
    border-radius: 20px;
    box-shadow: 2px 2px 12 px rgba(0,0,0,0.2);
    display: flex;
    margin:-7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text {
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}
.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border:none;
    font-family: calibri;
    background-color: #262525;
}
.services{
    height: 600px;
    background-color: #FFFFFF;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color:#3e3d3d;
    font-size: 15px;
    line-height: 5px;
}
.services-text p:nth-child(3){
    font-family: calibri;
    color: #7e7d7d;
}
.services{
    width: 500px;
    margin: 50px 0px;
    
}